*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	display: block;
	margin: 0 auto;
	position: relative;
	width: 100%;
}
section{
	width: 100%;
	display: block;
	float: left;
	margin-top: 60px;
	margin-bottom: 70px;
}
a.theme-btn {
	padding: 15px 30px;
	background: #fc4d2e;
	color: #fff;
	border-radius: 50px;
	text-decoration: none;
	font-size: 16px;
	display: inline-block;
}
section .main{
	width: 1100px;
	margin: 0 auto;
}
section .main .half{
	width: 50%;
	float: left;
}
.hero-section {
	padding: 100px 0;
	display: inline-block;
	position: relative;
	width: 100%;
	margin: 0 auto;
}
.hero-section .hero-title {
	font-size: 60px;
	text-transform: capitalize;
	font-weight: 800;
	margin-bottom: 30px;
}
.hero-section .hero-desc {
	font-size: 20px;
	line-height: 26px;
	margin-bottom: 20px;
}
.hero-section .hero-image {
	text-align: center;
	margin-top: 75px;
}

.about{
    padding: 100px 0 0;
    background: url(images/about-bg.jpg) no-repeat center center /cover;display: inline-block;
	width: 100%;
	
}

.about .titl{
	font-size: 40px;
	margin-bottom: 30px;
}
.about .desc{
	font-size: 20px;
	line-height: 28px;
	margin-bottom: 40px;
}
.about-img{
	text-align: center;
}




/**/

.product{
	background: grey;
}
.section-title h2 {
    font-size: 40px;
    text-align: center;
}

.section-title p {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.section-title {
    max-width: 800px;
    margin: 0 auto;
}

.single-product {
    width: 330px;
    float: left;
    margin: 0px 30px;
    /*! background: red; */
    padding: 14px 27px;
    border-radius: 20px;
    text-align: left;
    background: #fff;
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
.single-product img{
	max-width: 280px;
}
.product {
    width: 100%;
    margin: 0 auto;
    margin-left: 50px;
    margin-right: 50px;
}

.single-product p {
    font-size: 15px;
}

.product {}

.fun{
	width: 1000px;
	box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
	margin: 0 auto;
	border-radius: 50px;
	float: none;
	padding: 50px 0;
}
.fun_single{
	width: 30%;
	display: inline-block;
	text-align: center;
}
.fun_single h4 {
	font-size: 30px;
	margin: 0;
	margin-bottom: 20px;
	
}
.fun_single p{
	
}

footer{
	text-align: center;
	padding:  100px 0;
}
span{
	color: #FB4D32;
}
